<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    

    <script src="./js/javaScript.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #243a69;">
    <a class="navbar-brand" href="../index.html">
      <img src="/image/logoBlanco.png" alt="logo" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" class="text-light bg-dark" href="../index.html" style="color: #f4f4f2;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="donaciones.html" style="color: #f4f4f2;">Donaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="perros.html" style="color: #f4f4f2;">Perros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="formulario.html" style="color: #f4f4f2;">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="api.html" style="color: #f4f4f2;">api</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: #f4f4f2;" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>



  <div class="container">
    <div class="row">
        <h3>Ejemplo, traer datos asíncronamente</h3>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" id="enviar">Traer datos</button>
    </div>
    <div class="row">
        <table class="table" id="categorias">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">IMG</th>
                    <th scope="col">DESCRIPCIÓN</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


  <script>
    $(document).ready(function () {

      $("#enviar").click(function () {
        $.get("https://www.themealdb.com/api/json/v1/1/categories.php",
          function (data) {
            //en data capturaremos todos los datos que retorne el servicio
            $.each(data.categories, function (i, item) {
              //por cada elemento agregaremos una nueva fila en la tabla categorias
              $("#categorias").append("<tr><td>" + item.idCategory + "</td><td>" + item.strCategory +
                "</td><td><img src='" + item.strCategoryThumb + "'>" +
                "</td><td>" + item.strCategoryDescription + "</td></tr>");
            });
          });
      });
    });
  </script>

  <!-- Bootstrap JS -->

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>



</html>