<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="style.css">

  <title>Perros - Adopta un Peludo</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #243a69;">
    <a class="navbar-brand" href="../index.html">
      <img src="/image/logoBlanco.png" alt="logo" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" class="text-light bg-dark" href="../index.html" style="color: #f4f4f2;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="donaciones.html" style="color: #f4f4f2;">Donaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="perros.html" style="color: #f4f4f2;">Perros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="formulario.html" style="color: #f4f4f2;">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="api.html" style="color: #f4f4f2;">api</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: #f4f4f2;" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <header>

  </header>

  <div class="container">
    <h1 class="my-4">Perros en adopcion</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="Perro 1">
          <div class="card-body">
            <h5 class="card-title">Perro 1</h5>
            <p class="card-text">Este es nuestro primer perro disponible para adopción. Es muy juguetón y le encanta dar
              paseos.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="perro1.html" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="Perro 2">
          <div class="card-body">
            <h5 class="card-title">Perro 2</h5>
            <p class="card-text">Este es nuestro segundo perro disponible para adopción. Es muy amigable y le gusta
              jugar con los niños.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="perro2.html" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="Perro 2">
          <div class="card-body">
            <h5 class="card-title">Perro 2</h5>
            <p class="card-text">Este es nuestro segundo perro disponible para adopción. Es muy amigable y le gusta
              jugar con los niños.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="perro2.html" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>